<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<h2>Forms and Angular Routing </h2>
<ul>
  <li>
    <h2><a routerLink="/formOne" routerLinkActive="active-link">Form One</a></h2>
  </li>
  <li>
    <h2><a routerLink="/reactiveForm" routerLinkActive="active-link">Reactive Froms</a></h2>
  </li>
  <li>
    <h2><a routerLink="/searchForm" routerLinkActive="active-link">Form Three</a></h2>
  </li>
  <li>
    <h2><a routerLink="/formGroup" routerLinkActive="active-link">Form Custom Validators</a></h2>
  </li>
   <li>
    <h2><a routerLink="/patchValue" routerLinkActive="active-link">Patch Value</a></h2>
  </li>
  <li>
    <h2><a routerLink="/eventforms" routerLinkActive="active-link">Event Forms</a></h2>
  </li>
</ul>
<div>
  <router-outlet></router-outlet>
</div>
<app-footer class="mt-auto"></app-footer>

